/* .spa {
    width: 80%;
} */
/* * {
    text-align: justify;
} */

.img1 {
    width: 55%;
}

.text_justify {
    text-align: justify !important;
}

h2 {
    margin-bottom: 5% !important;
}

p, li {
    margin: 2% auto !important;
}

.arr {
    font-size: 2rem !important;
}

.no_marker{
    list-style-type: none !important;
    margin: 2% auto !important;
}

.areas{
    
    text-align: justify !important;
    /* margin: 10% auto !important; */
}

/* .areas div {
    padding: 1rem 0.5rem !important;
    border-right: 1px solid gray !important;
} */

/* .areas tr:first-child td:last-child {
    border-right: none !important;
} */

.logo{
    position: absolute;
    top: 95%;
    width: 10%;
    left: 0;
}

.final {
    width: 300px;
}
/* .future,
.past {
    width: 10%;
}

.present {
    width: 80%;
} */

pre {
    white-space: normal !important;
}

.final_words {
    margin-bottom: 10% !important;
}

.left {
    text-align: left !important;
    padding-left: 4% !important;
}